Binaries
DerivedDataCache
Intermediate
Saved
Content/HorrorForest/
Content/PiratesGold/
Content/MV_MedievalVillage/
Content/Swamp_S1_Starter_Kit/
Content/Levels/Objects/
Content/Characters/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace